<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cluckr</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <ul class="nav">
            <li class="nav-item">
                <h3>
                    <a class="nav-link" href="/">
                        <img src="/images/linux.png" alt="penguin" height="50rem">
                    </a>
                </h3>
            </li>
            <li class="nav-item">
                <h3>
                    <a class="nav-link" href="../clucks">Clucks</a>
                </h3>
            </li>
            <li class="nav-item">
                <h3>
                    <a class="nav-link" href="../clucks/new">New Cluck</a>
                </h3>
            </li>
        </ul>
    </header>